 body, html{
  margin: 0;
  padding: 0;
 }
 
 .contenedor{
   padding-left: 0;
   margin-right:0;
   padding-right:0;
   margin-left: 0;
   
    width:100%;

 }

 .txTitulo{
  color: white;
  text-align: center;
  
 }
  
  .full-width-navbar {
    background-color: rgb(105, 119, 228, 1);
    width:100%;
    
  }

  .content{
  display: flex;
  justify-content: center;
  align-items: center;
 
  }
  .card{
    background-color: rgb(238, 238, 238, 1);
    margin: 10px;
  }

  

  
  
 
  
  


 