
    .content1{
      display: flex;
     justify-content: center;
     align-items: center;
    }
    .card{
      background-color: rgb(238, 238, 238, 1);
      margin: 10px;
    }
    .form{
     padding: 10px;
    }

    .Boton{
      display: block;
      margin: 0 auto; /* Centra el botón horizontalmente */
      width: 95%; /* Ocupa el 80% del ancho */
      background-color: #6977E4; /* Color de fondo */
      color: #fff; /* Color del texto */
      padding: 8px; /* Espaciado interno */
      border: none; /* Sin borde */
      border-radius: 8px; /* Bordes redondeados */
      font-size: 1em; /* Tamaño de la fuente */
      cursor: pointer; /* Cursor estilo mano al pasar sobre el botón */
}

/* Estilo al pasar el mouse sobre el botón */
.Boton:hover {
  background-color: #5b66c7; /* Cambia el color de fondo al pasar el mouse */
}