
    .content1{
      display: flex;
     justify-content: center;
     align-items: center;
    }
    .card{
      background-color: rgb(238, 238, 238, 1);
      margin: 10px;
    }
    .form{
     padding: 10px;
    }