
 
 .contenedor, nav{
  
   margin-left: 0%;
   margin-right: 0%;
   width:100%;
   background-color: rgb(105, 119, 228, 1);
   margin-bottom: 10px;
  
    
 }

 .txTitulo{
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
  margin: 10px;
  align-items: center;
  
 }
  
  .nav {
   
   background-color: rgb(105, 119, 228, 1);
   line-height: inherit;
   width: 100%;
   
  }

 .back{
  color: white;
  margin-left: 10px;
}
.notificar{
  color: white;
  margin-right: 10px;
  display: flex;
  justify-content: right;
  align-items: end;
}
  

  
  
 
  
  


 